<!DOCTYPE html>
{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    
       <center> <button class="btn btn-primary">Update Product</button></center><br><br>
        <div class="card mx-auto " style="width: 100rem; ">
        
            {% load crispy_forms_tags %}
            <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {{form|crispy}}
            <button class="btn btn-primary" type="submit">Update</button>>  
        
            </form>
        </div>
    
</body>
</html>