<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      {% if post %}
      {% for post in post %}
      <div class="container-fluid">
        <div class="row mx-auto">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{post.Image.url}}" alt="Card image cap" height="200",width="100">
            <div class="card-body">
              <h5 class="card-title">{{post.Title}}</h5>
              <p class="card-text">{{post.Description}}</p>
              <button><a href="{% url 'editblog' id=post.id %}" class="btn btn-primary">Edit</a></button>
              <button><a href="{% url 'deleteblog' id=post.id %}" class="btn btn-primary">Delete</a></button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      
</body>
</html>